name: Publish Snapshot

on:
  push:
    branches: [ main ]
    paths:
      - 'generator/src/main/kotlin/**'
      - 'core/src/main/kotlin/**'
      - 'build.gradle.kts'
      - 'generator/build.gradle.kts'
      - 'core/build.gradle.kts'
  workflow_dispatch:

env:
  ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
  ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup JDK
        uses: joschi/setup-jdk@v2
        with:
          java-version: '17'
          
      - name: Build and Test
        run: ./gradlew build test
        
      - name: Publish Snapshot to Maven Central
        run: ./gradlew publishToMavenCentral --no-configuration-cache
        
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'